<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>R-Server OAuth Example</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        {% match user %} {% when Some with (u) %}
        <div class="profile">
            {% if let Some(avatar) = u.avatar %}
            <img
                class="avatar"
                src="{{ avatar }}"
                alt="{{ u.name }}"
                width="72"
                height="72"
            />
            {% endif %}
            <h1>Hi, {{ u.name }}!</h1>
        </div>
        <a href="/logout" style="color: inherit">Log out</a>
        {% when None %}
        <h1>Welcome !</h1>
        <a
            href="https://github.com/login/oauth/authorize?client_id={{ client_id }}&redirect_uri={{ redirect_uri }}"
            style="color: inherit"
            >Log in with Github</a
        >
        {% endmatch %}
    </body>
</html>
